name: CI

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "**"
      - "!renovate/**"
    tags:
      - "v**"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: ["16"]

    name: Node ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: yarn

      - run: yarn

      - run: yarn lint
      - run: yarn format:check
      - run: yarn build
